.button {
	border: 1px solid transparent;
	padding: 0.25rem 0.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: var(--basic-fontSize);
	cursor: pointer;
	transition: filter 0.15s ease-in-out;
	user-select: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus
{
	cursor: not-allowed;
	filter: none;
}

.default {
	color: var(--area-button-default-foreground);
	background-color: var(--area-button-default-background);
	border-color: var(--area-button-default-border);
}

.default:hover {
	filter: brightness(1.25) grayscale(0.75);
}

.button + .button {
	margin-inline-start: 0.5rem;
}

.default:disabled,
.default:disabled:hover,
.default:disabled:focus {
	color: var(--area-button-default-disabled-foreground);
	background-color: var(--area-button-default-disabled-background);
	border-color: var(--area-button-default-disabled-border);
}

.action {
	background-color: var(--area-button-action-background);
	color: var(--area-button-action-foreground);
	border-color: var(--area-button-action-border);
}

.action:disabled,
.action:disabled:hover,
.action:disabled:focus {
	color: var(--area-button-action-disabled-foreground);
	background-color: var(--area-button-action-disabled-background);
	border-color: var(--area-button-action-disabled-border);
}

.danger {
	background-color: var(--area-button-danger-background);
	color: var(--area-button-danger-foreground);
	border-color: var(--area-button-danger-border);
}

.danger:disabled,
.danger:disabled:hover,
.danger:disabled:focus {
	color: var(--area-button-danger-disabled-foreground);
	background-color: var(--area-button-danger-disabled-background);
	border-color: var(--area-button-danger-disabled-border);
}

.warning {
	background-color: var(--area-button-warning-background);
	color: var(--area-button-warning-foreground);
	border-color: var(--area-button-warning-border);
}

.warning:disabled,
.warning:disabled:hover,
.warning:disabled:focus {
	color: var(--area-button-warning-disabled-foreground);
	background-color: var(--area-button-warning-disabled-background);
	border-color: var(--area-button-warning-disabled-border);
}
