.item {
	--accent-color: var(--color-primaryForeground);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	position: relative;
	padding-left: 0.5rem;
	display: block;
	text-decoration: none;
	color: var(--color-primaryForeground);
}

.item + .item {
	margin-top: 0.25rem;
}

.item:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 0.25rem;
	height: 100%;
	background-color: var(--accent-color);
}

.item a {
	color: var(--color-primaryForeground);
	text-decoration: none;
}

.icon	{
	position: absolute;
	top: -25%;
	right: 0;
	z-index: -1;
	filter: grayscale(0.5);
	width: 5rem;
	height: 150%;
	opacity: 0.1;
	transform: rotate(25deg);
}

/* TODO: more meaningful use of colors, put in readme.md */

.issue, .repo {
	--accent-color: var(--token-item-foreground);
}

.unknown {
	--accent-color: var(--token-unknown-foreground);
}

.filter, .board, .topics {
	--accent-color: var(--token-filter-foreground);
}

.pullRequest, .mergeRequest {
	--accent-color: var(--token-changes-foreground);
}

.profile {
	--accent-color: var(--token-person-foreground);
}

.settings {
	--accent-color: var(--token-preferences-foreground);
}

.blob, .tree {
	--accent-color: var(--token-file-foreground);
}
