@import "../../../app/styles/newtab.css";

a {
	color: var(--color-secondaryForeground);
	text-decoration: underline;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
	margin-inline: auto;
	margin-block: auto;
	max-width: calc(768px - 4rem);
}

body {
	font-size: 1rem;
	line-height: 1.5;
}

h1 + p {
	margin: 1rem 0;
}

h2 + p {
	margin: 0.825rem 0;
}

@media (max-width: 768px) {
	main {
		margin-inline: 2rem;
		margin-block: 1rem;
	}
}
