.content {}

.item {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--color-primaryForeground);
    user-select: none;
    position: relative;
}

.item + .item {
    margin-top: 0.5rem;
}

.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pinButton {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transition: opacity 0.15s ease-in-out;
}

.item:hover .pinButton,
.item:focus-visible .pinButton {
    opacity: 1;
}
