@import "src/styles/default-light-theme.css";
@import "src/styles/default-dark-theme.css";

:root {
	--basic-fontSize: 13px;
	--basic-layout-gap: 0.5rem;
}

#root,
#popup {
	display: contents;
}

body {
	font-family: 'JetBrains Mono', monospace;
	font-size: var(--basic-fontSize);
	line-height: 1.4;
	background-color: var(--area-page-background);
	color: var(--area-page-foreground);
}

a {
	color: var(--area-page-foreground);
	text-decoration: none;
}

a:hover {
	color: var(--area-page-hoverForeground);
}
