#root,
#popup {
	display: contents;
}

body {
	font-family: 'JetBrains Mono', monospace;
	font-size: 13px;
	line-height: 1.4;
	background-color: var(--area-page-background);
	color: var(--area-page-foreground);
}
