.main {
	box-sizing: border-box;
	height: 100vh;
	display: grid;
	grid-template-columns: 2rem 25vw auto 25vw;
	grid-template-rows: 1fr max-content;
	grid-template-areas:
		"sidebar tickets content repo"
		"sidebar tickets bookmarks repo";
	grid-gap: 0.5rem;
	overflow: hidden;
}
