.content {
	grid-area: content;
	padding: 0.25rem 0;
	margin: 0;
}

.item {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	color: var(--color-primaryForeground);
}

.item + .item {
	margin-top: 0.25rem;
}

.link {
	color: var(--color-primaryForeground);
	text-decoration: none;
}
