.item {
	--accent-color: var(--color-primaryForeground);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	position: relative;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	display: block;
	text-decoration: none;
	color: var(--color-primaryForeground);
	background-color: var(--color-primaryBackground);
}

.item:after {
	content: ' ';
	position: absolute;
	top: 0.25rem;
	left: 0;
	width: 0.25rem;
	height: calc(100% - 0.5rem);
	background-color: var(--accent-color);
}

.name {
	margin-right: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon	{
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 1;
	filter: grayscale(0.25);
	width: 5rem;
	height: 5rem;
	opacity: 0.1;
	transform: translateY(-50%) rotate(25deg);
}

.pinButton {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.changes {
	--accent-color: var(--token-changes-foreground);
}

.item {
	--accent-color: var(--token-item-foreground);
}

.unknown {
	--accent-color: var(--token-unknown-foreground);
}

.filter {
	--accent-color: var(--token-filter-foreground);
}

.preferences {
	--accent-color: var(--token-preferences-foreground);
}

.person {
	--accent-color: var(--token-person-foreground);
}

.file {
	--accent-color: var(--token-file-foreground);
}
