.container {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-auto-rows: max-content;
	grid-row-gap: 0.25rem;
	margin: 0.25rem 0 0.5rem;
	width: 35rem;
}

.processing {
	display: block;
}
.processingItem {
	padding: 0 0 0.25rem;
}
.processingItem + .processingItem {
	margin-top: 0.5rem;
}
.processingItemContent {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: max-content;
	grid-row-gap: 0.25rem;
}
.processingItemOption {
	display: inline;
}

.providerTitle {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 0.5rem;
}

.providerTitle:after {
	content: '';
	width: 100%;
	height: 1px;
	border-bottom: 1px solid var(--color-primaryBorder);
	margin-left: 0.5rem;
}

.name {
    display: flex;
    align-items: flex-start;
}

.value {
    display: flex;
    align-items: flex-start;
}

.name input,
.name select,
.name textarea,
.value input,
.value select,
.value textarea {
    width: 100%;
    border: 1px solid var(--area-form-border); /* border color from Darcula Solid */
    background-color: var(--area-form-background); /* background color from Darcula Solid */
    padding: 5px;
    font-size: var(--basic-fontSize);
    color: var(--area-form-foreground);
}
