.main {
	--main-width: 100vw;
	--main-sidebar-width: 2rem;
	--main-content-width: calc(var(--main-width) - var(--main-sidebar-width));

	width: var(--main-width);
	height: 100vh;
	display: grid;
	grid-template-columns: var(--main-sidebar-width) var(--main-content-width);
	grid-template-rows: 1fr;
	grid-template-areas: "sidebar content";
	overflow: hidden;
}

.content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	overflow: hidden;
}
