.item {
	--accent-color: var(--color-primaryForeground);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	position: relative;
	padding-left: 0.5rem;
	display: block;
	text-decoration: none;
	color: var(--color-primaryForeground);
}

.item + .item {
	margin-top: 0.25rem;
}

.item:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 0.25rem;
	height: 100%;
	background-color: var(--accent-color);
}

.item a {
	color: var(--color-primaryForeground);
	text-decoration: none;
}

/* TODO: more meaningful use of colors, put in readme.md */

.issue {
	--accent-color: var(--token-item-foreground);
}

.unknown {
	--accent-color: var(--token-unknown-foreground);
}

.filter, .board {
	--accent-color: var(--token-filter-foreground);
}

.project {
	--accent-color: var(--token-preferences-foreground);
}

.profile {
	--accent-color: var(--token-person-foreground);
}

