.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	max-height: 100%;
	max-width: 100%;
}

.initial {
	max-height: 100vh;
	max-width: 100vw;
}
