.header {
    padding-block: 0.25rem;
    padding-inline: 1rem;
    background-color: var(--blackSecondary);
    color: var(--whiteSecondary);
    text-align: center;
}

.header ~ .body {
    border-top: 1px solid var(--blackTernary);
}

.body {
    padding-block: 0.25rem;
    padding-inline: 1rem;
    background-color: var(--blackSecondary);
    color: var(--whiteSecondary);
}

.footer {
    padding-block: 0.25rem;
    padding-inline: 1rem;
    background-color: var(--greySecondary);
    color: var(--whiteSecondary);
}
