.container {
	padding: 0 0 0.25rem;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}
.pinned {
	/*position: sticky;*/
	/*top: 0;*/
	z-index: 2;
}
.unpinned {
	/*position: relative;*/
	z-index: 1;
}

/* TODO: Create settings item for sticky pinned items */
