.sidebar {
	grid-area: sidebar;
	position: fixed;
	top: 0;
	left: 0;
	width: 2rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 0;
	box-sizing: border-box;
	background-color: var(--area-sidebar-background);
	color: var(--area-sidebar-foreground);
}

.item {
	width: 2rem;
	height: 2rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	line-height: 1;
	color: var(--color-icon);
}

.item + .item {
	margin-top: 0.5rem;
}

.item:hover,
.item:focus,
.item.active {
	color: var(--color-iconHover);
}

.icon {
	color: currentColor;
}

.item.last {
	align-self: flex-end;
	margin-top: auto;
}
